@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .checkmark-red input:checked ~ .checkmark {
    background-color: #f38ba8;
  }

  .checkmark-yellow input:checked ~ .checkmark {
    background-color: #f9e2af;
  }

  .checkmark-green input:checked ~ .checkmark {
    background-color: #a6e3a1;
  }

  .checkmark-blue input:checked ~ .checkmark {
    background-color: #89b4fa;
  }

  .checkmark-gray-100 input:checked ~ .checkmark {
    background-color: #cdd6f4;
  }

  .nav-menu-toggle:checked ~ .nav-menu-content {
    max-height: 100%;
  }
  .nav-menu-up {
    display: inline;
  }
  .nav-menu-toggle:checked ~ .nav-menu-up {
    display: none;
  }
  .nav-menu-down {
    display: none;
  }
  .nav-menu-toggle:checked ~ .nav-menu-down {
    display: inline;
  }

  .filter-toggle:checked {
    position: fixed;
    right: calc(8.3333333% + 4px);
    top: calc(4rem + 4px);
    width: 2.5rem;
  }
  .filter-toggle:hover ~ .filter-button {
    --tw-bg-opacity: 1;
    background-color: rgb(217 224 238 / var(--tw-bg-opacity));

    --tw-text-opacity: 1;
    color: rgb(26 24 38 / var(--tw-text-opacity));
  }
  .filter-toggle:checked ~ .filter-button {
    --tw-bg-opacity: 1;
    background-color: rgb(26 24 38 / var(--tw-bg-opacity));

    --tw-text-opacity: 1;
    color: rgb(217 224 238 / var(--tw-text-opacity));
  }
  .filter-toggle:checked ~ .filter-close {
    display: inline;
    position: fixed;
    right: calc(8.3333333% + 4px);
    top: calc(4rem + 4px);
  }
  @media (min-height: 778px) {
    .filter-toggle:checked ~ .filter-close {
      top: calc(8.3333333% + 4px);
    }
    .filter-toggle:checked {
      top: calc(8.3333333% + 4px);
    }
  }

  .filter-menu {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .filter-menu::-webkit-scrollbar {
    display: none;
  }
  .filter-toggle:checked ~ .filter-menu {
    display: inline;
  }
  @media (min-width: 1280px) {
    .filter-toggle:checked ~ .filter-close {
      display: none;
    }
    .filter-toggle:checked {
      display: none;
    }
  }

  .right-align-650 {
    right: calc(50% - 325px);
  }

  .languages-menu-toggle:checked ~ .languages-menu-content {
    max-height: 100%;
  }
  .languages-menu-up {
    display: inline;
  }
  .languages-menu-toggle:checked ~ .languages-menu-up {
    display: none;
  }
  .languages-menu-down {
    display: none;
  }
  .languages-menu-toggle:checked ~ .languages-menu-down {
    display: inline;
  }

  .technologies-menu-toggle:checked ~ .technologies-menu-content {
    max-height: 100%;
  }
  .technologies-menu-up {
    display: inline;
  }
  .technologies-menu-toggle:checked ~ .technologies-menu-up {
    display: none;
  }
  .technologies-menu-down {
    display: none;
  }
  .technologies-menu-toggle:checked ~ .technologies-menu-down {
    display: inline;
  }

  .slider {
    -webkit-appearance: none;
  }
  .slider input[type="range"] {
    -webkit-appearance:none !important;
  }
  .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 16px;
    height:16px;
    background: #cdd6f4;
    border: 2px solid #cdd6f4;
    border-radius: 100%;
    cursor: pointer;
  }
  .slider input[type="range"]::-webkit-slider-thumb:hover {
    background: #cdd6f4;
  }
  .slider input[type="range"]::-moz-range-thumb {
    background: #cdd6f4;
    border-radius: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    height: 1rem;
    width: 1rem;
  }
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }
  .hljs {
    background: #181825;
    color: #cdd6f4;
  }
  .hljs-comment {
    font-style: italic;
    color: #6c7086;
  }
  .hljs-punctuation,
  .hljs-tag {
    color: #9399b2;
  }
  .hljs-tag .hljs-attr,
  .hljs-tag .hljs-name {
    color: #cdd6f4;
  }
  .hljs-attribute,
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-name,
  .hljs-selector-tag {
    font-weight: 700;
    color: #f38ba8;
  }
  .hljs-deletion,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-template-tag,
  .hljs-type {
    color: #89b4fa;
  }
  .hljs-number {
    color: #fab387;
  }
  .hljs-section,
  .hljs-title {
    color: #89b4fa;
    font-style: italic;
  }
  .hljs-link,
  .hljs-operator,
  .hljs-regexp,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-symbol,
  .hljs-template-variable,
  .hljs-variable {
    color: #eba0ac;
  }
  .hljs-quote,
  .hljs-string {
    color: #a6e3a1;
  }
  .hljs-literal {
    color: #cba6f7;
    font-style: italic;
  }
  .hljs-addition,
  .hljs-built_in,
  .hljs-bullet,
  .hljs-code {
    color: #94e2d5;
  }
  .hljs-meta {
    color: #89b4fa;
  }
  .hljs-meta .hljs-string {
    color: #89dceb;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: 700;
  }
