<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/site/css/tailwind-input.css"/>
        
        <title>Nicholas Deary</title>
    </head>
    <body>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="#" class="flex items-center">
                <img src="/site/images/favicon.ico" class="mr-3 h-6 sm:h-10" alt="Flowbite Logo" />
            </a>
            <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
                <ul class="navButtonContainer">
                    <li>
                        <a href="#" class="navButton" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#" class="navButton">About</a>
                    </li>
                    <li>
                        <a href="#" class="navButton">Services</a>
                    </li>
                    <li>
                        <a href="#" class="navButton">Pricing</a>
                    </li>
                    <li>
                        <a href="#" class="navButton">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>
        <a href="#" class="button">Test Button</a>
        <img src="/site/images/signal.jpeg" alt="Failed to load image"/>
    </body>
</html>
