<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/site/css/main.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

        <script src="/site/js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        <title>Nicholas Deary</title>
    </head>
    <body class="flex flex-col min-h-screen font-sans font-light text-gray-100 bg-gray-700">
    {{ template "navbar" . }}
    <div class="mx-auto my-4 prose prose-catppuccin w-[91.666667%] md:w-auto">
        <img src={{ imageFromID .Post.Image }} alt="Hero Image" class="rounded-xl"/>
        {{.ArticleHTML}}
    </div>
{{ template "footer" }}