{{ template "header" }}
    {{ template "navbar" . }}
    <div class="mx-auto my-4 prose prose-catppuccin">
        <img src={{ imageFromID .Project.Image }} alt="Hero Image" class="rounded-xl"/>
        {{.ArticleHTML}}
    </div>
{{ template "footer" }}